$primary : #dedede;
$primaryDark : #408df9;
$primaryLight : #a1c8fe;

$text : rgb(248, 61, 92);
$textDark : rgb(255, 15, 55);
$textLight : rgb(248, 142, 160);
$bg: #373737;
$bgDark: #b5b5b5;
$gradient : linear-gradient(90deg, rgba(9, 27, 93, 0.796) 0%, rgba(9, 27, 93, 0.87) 35%, rgba(9, 27, 93, 0.897) 100%);

$shadow : 0px 0.5px 10px rgb(147, 147, 147);

.remove-a-default {
    text-decoration: none;
    color: inherit;
}

.button-hover-transition {
    transition: all ease-in-out 0.3s;
}

.icons {
    font-size: 2rem;
    color: rgb(248, 61, 92);
    cursor: pointer;
    &:hover{
        scale: 1.2;
    }
}

.hidden {
    display: none;
}