* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* font-family: sans-serif; */
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Nunito', sans-serif;*/
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: 'Roboto Mono', monospace; */
  /* font-family: 'Urbanist', sans-serif; */
  scroll-behavior: smooth;
}

body {
  background-color: rgb(247, 247, 247);
  color: rgb(35, 35, 35);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  text-transform: uppercase;
  font-weight: 600;
}

button {
  text-transform: uppercase;
  padding: 5px 20px;
  font-size: 1rem;
  border-radius: 2px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  display: flex;
  align-items: center;
  gap: 10px;
}

input {
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(248, 61, 92);
  border-radius: 100px;
}

::-webkit-scrollbar-track {
  background-color: #b5b5b5;
}

.button-hover-transition {
  transition: all ease-in-out 0.3s;
}